.container{
  text-align: center;
}
#cont{
  margin-left: 1em;
}
#cont div{
  padding: 1em 0.5em;
  margin-bottom: 2em;
  outline: 0.1em solid #E5E3F2;
  background-color:#fff;
}
.heart, .trash{
  margin:1em;
  float: right;
}
.strike-out{
  text-decoration: line-through;
  color:#1DA1F2;
}
.trash:hover{
  color:#1DA1F2;
  cursor: pointer;
}
.red{
  color:#FC1E26;
  cursor: pointer;
}
p{
  display:inline-block;
  margin-left: 0.5em;
}
